:root {
  --cl-black:	#030405;
  --cl-white:	#ffffff;
  --cl-grey:	#efefef;
  --cl-grey-dark:	#c1c1c1;
  --cl-primary:	#641a45;
  --cl-primary-dark:	#dc002e;
  --cl-primary-text:	var(--cl-white);
  --cl-secondary:	rgb(198, 0, 109);
  --cl-secondary-rgba:	rgba(198, 0, 109, .25);
  --cl-secondary:	#db0079;
  --cl-secondary-text:	var(--cl-white);
  --cl-error:	#db4437;
  --fs-tiny:	12px;
  --fs-small:	16px;
  --fs-medium:	20px;
  --fs-large:	24px;
  --fs-huge:	32px;
  --ls_medium:	0.6px;
  --lh-small:	1.2;
  --lh-medium:	1.6;
  --lh-large:	2;
  --fw-light:	300;
  --fw-regular:	400;
  --fw-medium:	700;
  --fw-bold:	900;
  --ff-primary:	"Fira Sans", sans-serif;
  --ff-secondary:	"Libre Baskerville", serif;
  --br-rectangle-top-left:	4px;
  --br-rectangle-top-right:	4px;
  --br-rectangle-bottom-right:	4px;
  --br-rectangle-bottom-left:	4px;
  --br-rectangle:	4px;
  --br-square-top-left:	128px;
  --br-square-top-right:	128px;
  --br-square-bottom-right:	128px;
  --br-square-bottom-left:	128px;
  --br-square:	128px;
}

.whatsapp-container {
  display: none;
}

.cubilis-ratebox.cubilis-ratebox--bottom {
  left: 48px;
  right: auto;
}
@media only screen and (min-width: 1280px) {
  .cubilis-ratebox.cubilis-ratebox--bottom {
    left: 96px;
  }
}

.header__mainmenu .header__logo {
  height: 256px;
  margin-top: 128px;
}
.header__mainmenu .header__logo img {
  max-width: none !important;
  max-height: none !important;
}

section.rooms .card__text p {
  margin-bottom: 48px;
  padding: 0;
}
section.rooms .card__button .button--filled-primary {
  margin-bottom: 24px;
}

section.book {
  padding: 48px;
}
section.book .wrapper {
  max-width: 1920px;
  background-color: var(--cl-grey);
  padding: 48px;
  border-radius: var(--br-rectangle);
}
section.book .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media only screen and (min-width: 1280px) {
  section.book .wrapper form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
section.book .wrapper form div {
  width: 100%;
}
section.book .wrapper form div p {
  padding-bottom: 8px;
}
section.book .wrapper form input:not(.button),
section.book .wrapper form select {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  border-radius: var(--br-rectangle);
  border: none;
  cursor: pointer;
  -webkit-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
section.book .wrapper form input:not(.button):hover,
section.book .wrapper form select:hover {
  opacity: 0.64;
}
section.book .wrapper form input:not(.button).display_none,
section.book .wrapper form select.display_none {
  display: none;
}
section.book .wrapper form input[type=date] {
  position: relative;
}
section.book .wrapper form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 64px;
  background-image: url(../img/schedule.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) center;
  cursor: pointer;
}
section.book .wrapper form input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
section.book .wrapper form .select {
  position: relative;
  width: 100%;
}
section.book .wrapper form .select select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
section.book .wrapper form .select select::-ms-expand {
  display: none;
}
section.book .wrapper form .select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 16px;
  aspect-ratio: 1/1;
  background-color: var(--cl-black);
  -webkit-mask-image: url(../img/caret.svg);
          mask-image: url(../img/caret.svg);
  -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  pointer-events: none;
}
section.book .wrapper .button {
  margin-top: auto;
  margin-bottom: 0;
}
section.book.book--white {
  background: var(--cl-white);
}
section.book.book--grey {
  background: var(--cl-grey);
}
section.book.book--grey .wrapper {
  background: var(--cl-white);
}
section.book.book--grey input:not(.button),
section.book.book--grey select {
  background-color: var(--cl-grey);
}
section.book.book--black {
  background: var(--cl-black);
}
section.book.book--primary {
  background: var(--cl-primary);
}
section.book.book--secondary {
  background: var(--cl-secondary);
}