section.book{
	padding: 48px 24px;

	@include tablet{
		padding: 48px;
	}

	.wrapper{
		max-width: 1920px;
		background-color: var(--cl-grey);
		border-radius: var(--br-rectangle);
		padding: 48px;

		h3{
			padding-bottom: 24px;
		}

		form{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 24px;

			@include desktop{
				flex-direction: row;
			}

			div{
				width: 100%;

				p{
					padding-bottom: 8px;
				}
			}

			#promotiecode-container{
				width: auto;
				display: flex;
				flex-direction: column;

				p,
				h4{
					width: max-content;
				}

				h4{
					margin-block: auto;
				}

				input{
					width: 100%;
					min-width: 100%;
				}
			}

			input:not(.button),
			select{
				width: 100%;
				height: 64px;
				padding: 0 24px;
				border-radius: var(--br-rectangle);
				border: none;
				font-size: var(--fs-tiny);
				cursor: pointer;
				transition: all ease-in 0.2s;

				&:hover{
					opacity: .64;
				}

				&.display_none{
					display: none;
				}

				
			}

			input[type="date"] {
				position: relative;
				display: flex;
				appearance: none;

				&::after{
					content: '';
					position: absolute;
					top: 0;
					// left: 0;
					right: 0;
					background-color: var(--cl-black);
					opacity: 0.48;
					// background-color: transparent;
					width: 64px;
					height: 64px;
					mask-image: url(../img/schedule.svg);
					mask-size: 20px;
					mask-repeat: no-repeat;
					mask-position: center;
					cursor: pointer;
				}

				&::-webkit-calendar-picker-indicator{
					background-image: none;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					background-color: transparent;
					width: 100%;
					height: 64px;
					// background-image: url(../img/schedule.svg);
					// background-size: 20px;
					// background-repeat: no-repeat;
					// background-position: calc(100% - 24px) center;
					cursor: pointer;
				}

				&::-webkit-inner-spin-button{
					display: none;
					-webkit-appearance: none;
				}
			}

			.select{
				position: relative;
				width: 100%;

				select{
					position: relative;
					appearance: none;

					&::-ms-expand {
						display: none;
					}
				}

				&::after{
					content: '';
					position: absolute;
					top: 50%;
					right: 24px;
					transform: translateY(-50%);
					height: 16px;
					aspect-ratio: 1 / 1;
					background-color: var(--cl-black);
					mask-image: url(../img/caret.svg);
					mask-size: 16px 16px;
					mask-repeat: no-repeat;
					mask-position: center;
					pointer-events: none;
					z-index: 2;
				}
			}
		}

		.button{
			margin-top: auto;
			margin-bottom: 0;
		}
	}

	&.book--white {
		background: var(--cl-white);
	}

	&.book--grey {
		background: var(--cl-grey);

		.wrapper{
			background: var(--cl-white);
		}

		input:not(.button),
		select{
			background-color: var(--cl-grey);
		}
	}

	&.book--black {
		background: var(--cl-black);
	}

	&.book--primary {
		background: var(--cl-primary);
	}

	&.book--secondary {
		background: var(--cl-secondary);
	}
}